node_modules
dist
.tmp
bower_components
test/bower_components
test/spec/test.js
app/favicon.ico
.babelrc
.bowerrc
.editorconfig
.gitattributes
.yo-rc.json
bower.json
gulpfile.js
package.json
package-lock.json
app/apple-touch-icon.png
app/index.html
app/robots.txt
app/scripts/dbhelper.js
app/styles/main.scss
